---
---
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0ece3;
  font-family: 'Delius', 'Comic Sans MS', cursive;
  color: #4b4b4b;
  margin: 0;
  /*padding: 20px;*/
  /* background-image: url('https://cdn.discordapp.com/emojis/1302688962841935932.webp'); */
  background: repeating-linear-gradient(45deg,
      /* angle of the stripes */
      #e8e3d9,
      /* start color */
      #e8e3d9 10px,
      /* how thick the stripe is */
      #f0ece3 10px,
      /* next color starts right after */
      #f0ece3 20px
      /* total thickness of a full stripe unit */
    );
  background-repeat: repeat;
}



.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 1rem 5px 1rem;
}

.navbar h1 {
  margin: 0;
  text-align: center;
  user-select: none;
}

.navbar ul {
  padding: 0;
  display: flex;
}

.navbar ul li {
  padding: 0 1rem 0 1rem;
  list-style: none;
  user-select: none;
}

.navbar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #88a081;
}

.navbar ul li a:hover {
  filter: invert(38%) sepia(11%) saturate(670%) hue-rotate(62deg) brightness(90%) contrast(89%);
}

.disabled {
  cursor: not-allowed;
}

.mobile-only {
  display: flex;
  align-items: center;
}

.desktop-only {
  display: none !important;
}

.content {
  max-width: 256px;
  margin: 1rem auto 1rem auto;
  background: rgba(255, 255, 255, 0.9);
  border: 4px dotted #b0aeb0;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 0 15px #c0bcbc;
}


h1 {
  text-align: center;
  font-size: 2em;
  color: #88a081;
}

.gif-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.paragraph {
  background-color: #e8e3d9;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.2em;
  max-width: 256px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.card {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  max-width: calc(100% - 40px);
  margin: 5px 0 5px 0;
  background-color: #f9f5f0;
  padding: 20px;
  border-radius: 15px;
}

#nettle {
  border: 2px dashed #b0aeb0;
  border-radius: 15px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43%;
}

#nettle img {
  width: 100%;
  padding: 1rem;
  pointer-events: none;
  user-select: none;
}

.collage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 0.1rem;
  max-width: calc(100%);
  margin: 15px 0 15px 0;
}

.collage img {
  width: 98%;
  image-rendering: optimizeQuality;
  user-select: none;
}

.collage img:last-of-type {
  margin: 0;
}

.info {
  max-width: calc(50% - 40px);
  flex-direction: column;
  align-self: center;
  border: 2px dashed #b0aeb0;
  height: 113px;
  margin: 13px 0 0 0;
}

.text-info {
  flex-direction: column;
  align-self: center;
  border: 2px dashed #b0aeb0;
}

.info h2,
.text-info h2 {
  margin: 0;
}

.info p,
.text-info h2 {
  margin: 0;
}

.center {
  text-align: center;
}

#social-medias {
  width: fit-content;
  justify-content: center;
  align-items: center;
  border: 2px dashed #b0aeb0;
  user-select: none;
}

.sns-icon {
  width: 48px;
  height: 48px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
}

.sns-icon:hover {
  filter: invert(38%) sepia(11%) saturate(670%) hue-rotate(62deg) brightness(90%) contrast(89%);
  transition: all 0.2s ease;
}

textarea,
input,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 2px dashed #b0aeb0;
  border-radius: 10px;
  font-family: inherit;
  background: #fffaf7;
}

button {
  background-color: #cfdacc;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9em;
  color: #777;
}

.slider {
  accent-color: #88a081;
}

.slidercontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slidercontainer>input,
.slidercontainer>span {
  padding: 1rem;
}